.contenedorBoton {
  padding: 30px;
}

.contenedorCards {
  padding: 30px;
}

.sombraCards {
  width: 1000px;
  height: 90%;
  margin-bottom: 40px;
  margin-top: 10px;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.favorito {
  /*border-top: 0.5px solid gainsboro;*/
}

a {
  text-decoration: none;
}
