@import url(//db.onlinewebfonts.com/c/000be6a5acfcd4e4a425e9f1bb6c80f0?family=Google+Sans);
.card{
    margin-left: 50%;
    margin-right: 50%;  
}
.container_description{
    padding: 20px;
}

.tipografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: 'Google Sans';
    font-weight: 400;
}

.contenido{
    color: #508DAB;
}

.subtitulo{
    color: rgb(132, 146, 166);
}

.imagen {
    max-width: 100%;
    min-height: 50%;
    
}


.favorite_container {
    border-top: gainsboro .5px solid;
}