div .favoritos_nombre{
    text-align: center;
}

.contenedor__itemFavoritos {
    text-decoration: none;
    
}

.favorito_imagen {
    height: 150px;
    min-width: 100%;
}

.image__container {
    max-width:  100%;
}